/* Highlight grid for debug purposes */

body {
  background-image: url(../img/grid.png);
  background-position: center;
  background-repeat: repeat-y;
}

.grid {
  background-color: rgba(0, 0, 0, 0.1);
}

.col {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 10px solid rgba(0, 0, 0, 0.4);
  border-right: 10px solid rgba(0, 0, 0, 0.4);
}

.col::after {
  position: absolute;
  left: calc(50% - 0.25em);
  bottom: calc(50% - 0.3em);
  color: white;
  font-size: 2rem;
}

.col--1::after {
  content: "1";
}

.col--2::after {
  content: "2";
}

.col--3::after {
  content: "3";
}

.col--4::after {
  content: "4";
}

.col--5::after {
  content: "5";
}

.col--6::after {
  content: "6";
}

.col--7::after {
  content: "7";
}

.col--8::after {
  content: "8";
}

.col--9::after {
  content: "9";
}

.col--10::after {
  content: "10";
}

.col--11::after {
  content: "11";
}

.col--12::after {
  content: "12";
}